/**** Sass Variables ****/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}



.container {
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
}

.card-wrapper {
  width: 300px;
  height: 400px;
  
}
.card-image img{
    width:300px;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 350px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* border-radius: 16px; */
  overflow: hidden;
  /* -webkit-box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
          box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6); */
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card .card-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

.card:hover img {
  opacity: 0.4;
  -webkit-transition: .5s;
  transition: .5s;
}

.card:hover .card-image {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  -webkit-transition: all .9s;
  transition: all .9s;
}


/**** Social Icons *****/
.social-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  font-size: 23px;
  color: #333;
  font-weight: bold;
  margin: 0 6px;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
  opacity: 0;
}

.card:hover .social-icons li a {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.social-icons li a {
  background: none;
}



.social-icons li a .fab {
  -webkit-transition: .8s;
  transition: .8s;
}



/**** Personal Details ****/
.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px;
}

.details h2 {
  margin: 30px 0;
  padding: 0;
  text-align: center;
  font-size: 25px;
}

.details h2 .job-title {
  font-size: 1rem;
  line-height: 2.5rem;
  color: #333;
  font-weight: 300;
}


